#customization {
  text-align: center;
  padding: 7em 0;
  background-color: $light-bg-color;

  i {
    font-size: 3em;
    color: $primary-color;
    padding-bottom: 0.7em;
  }

  h3 {
    padding-bottom: 0.3em;
  }

  a {
    color: $primary-color;
  }
}
