#features {
  background-color: $light-bg-color;
  background-image: url('../images/slanted-phone.jpg');
  background-size: 43%;
  background-repeat: no-repeat;
  background-position: left 33em bottom;
  padding: 10em 0 22em;

  .container {
    padding-left:4em;
  }


}
