#take-look {
  background-color: $primary-color;
  text-align: center;
  padding: 3em 0;
  color: $light-font-color;

  h2 {
    text-transform: uppercase;
  }

  p {
    margin-bottom: 2em;
    margin-left: 12em;
    margin-right: 12em;
    text-align: center;
  }

  a.take-my-money {
    background-color: $secondary-color;
  }

  a.free-account {
    color: $light-font-color;
    border-color: $light-font-color;
    margin-left: 1em;
  }
}
